@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    background-color: #f78db5;
}

button{
    position: center;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border: 3px solid black;
    display: inline-block;
    
    
    }

#Ja{
    background-color: greenyellow;    
}

#Nee{
    background-color: red;
}
#buttons button{
    transition: transform 0.5s ease;
}

button:hover{
    transform: scale(1.1);
}

span{
    font-size: 50px;
    font-family: 'Kalam', cursive;
}

.buttons li {
    list-style-type: none;
}

.buttons{
    display: flex;
    gap: 10px;
}

.parent {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    height: 100vh; /* Zorg ervoor dat de ouder de volledige hoogte heeft */
}

.child {
    margin-left: auto;
    margin-right: auto;
    display: block; /* Zorg ervoor dat het element een block-level element is */
}